{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Бишкек шаары...</title>
	<link rel="shortcut icon"
	href="{% static 'main/img/logo_burkut2.png' %}"
	type="image/x-icon">
</head>
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<body>
	<header>
		<div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
				<a class="navbar-brand" href="{% url 'home' %}">
					<img src="{% static 'main/img/logo_burkut.png' %}" width="100" height="70" class="logo">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="icons">
				<a href="http://instagram.com/share.php?url=file:///home/bakdoolot/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/OUR%20SITE/bishkek.html"><i class="fa-brands fa-instagram"></i></a>
				<a href="http://facebook.com/share.php?u=file:///home/bakdoolot/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/OUR%20SITE/bishkek.html"><i class="fa-brands fa-facebook"></i></a>
				<a href="https://telegram.me/share/url?url=file:///home/bakdoolot/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/OUR%20SITE/bishkek.html"><i class="fa-brands fa-telegram"></i></a>
				<a href="http://whatsapp.com/share.php?url=file:///home/bakdoolot/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/OUR%20SITE/bishkek.html"><i class="fa-brands fa-whatsapp"></i></a>
			  </div>
				<nav class="navbar navbar-light bg-light">
				  <form class="form-inline">
					<input class="form-control mr-sm-2" type="search"  aria-label="Search" style="width: 300px;">
                  <a href="#" type="search"><i class="fa-solid fa-magnifying-glass"></i></a>
				  </form>
				</nav>
			  <div class="langWarp" style="margin-left: 100px;">
					<a href="#" language="english">EN</a>
					<a href="#" language="russia">RU</a>
					<a href="#" language="kyrgyz">KG</a>
			  </div>
			</nav>
		</div>
		<!-- Menu -->

		<nav class="page__menu menu">
			<ul class="menu__list r-list" style="margin-left: 100px;">
			  <li class="menu__group"><a href="{% url 'home' %}" class="menu__link r-link text-underlined">Башкы-Бет</a></li>
			  <li class="menu__group"><a href="{% url 'kitepter' %}" class="menu__link r-link text-underlined">Китептер</a></li>
			  <li class="menu__group"><a href="{% url 'belgiluu-insandar' %}" class="menu__link r-link text-underlined">Белгилүү инсандар</a></li>
			  <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Биз жөнүндө</a></li>
			</ul>
		</nav>

	<!-- Menu -->
	</header>
	<div class="container">
		<img src="https://sputnik.kg/img/104824/55/1048245514_4:0:3645:2048_1920x0_80_0_0_ad7d98095a5182606f55e76b74970c66.jpg" width="1100" height="500" style="margin-top: 20px;">
		<div class="bishkek-text">
			<h6>Бишкек шаары – Кыргыз Республикасынын борбору. Бишкек көп улуттун өкүлдөрү жашаган шаар. Мында 50дөн ашык улуттун  өкүлдөрү жашайт.
		    Азыр Бишкек шаары – республикабыздагы эң чоң, өнөр жайлуу шаар. Бишкек кооз бак-дарактуу, жашыл шаар болуп эсептелет. Эл арасында ушул аймакта Бишкек баатырдын жашагандыгы тууралуу айтылат. Шаар Бишкек баатырдын атынан калгандыгы жөнүндө уламыш кездешет. Кийин шаардын аты  Пишпек деп айтылып калган.
		    Шаар Пишпек, андан кийин 1926-жылы Фрунзе деп аталган. 1991-жылы өзүнүн тарыхый атын алып,  Бишкек аталды.
		    Бишкектин башкы аянты – “Ала-Тоо” деп аталат. Ал жерде мамлекеттин белгиси болгон  тууну аскерлер кайтарып турушат. Борбордук аянттын жанында Ак үй, Улуттук тарых музейи жайгашкан. Шаардагы алгачкы кооз имараттын бири “Ала-Тоо” кинотеатры тарыхый эстелик катары дагы эле көрктүү болуп турат.
		    Эркиндик саябаны – жаштардын сүйүктүү жайы. Ал жерде балдар үчүн да ойной турган аянтчалар курулган.
		    Улуттук филармониянын астында Манас баатырдын жана анын акыл кеңешчиси Бакай атанын, Каныкей апанын айкелдери бар. Манасчылардын эстеликтери да ушул жерде.
		    Борбор калаага Курманжан датканын, Токтогул Сатылгановдун, Алыкул Осмоновдун, Чыңгыз Айтматовдун, Бүбүсара Бейшеналиеванын жана  кыргыз элинин сыймыктуу инсандарынын эстеликтери орнотулган.
		    Шаарыбызда көптөгөн маданий, соода борборлору иштейт.
		    Бишкек – жаштардын шаары. Мындагы жогорку окуу жайларында миңдеген жаштар билим алышат. 90дон ашык мектеп бар.
			 Азыркы шаардын аймагында адамдар эң байыркы заманда эле отурукташкан. Аламүдүн ГЭСтеринин жанынан табылган таш эмгек куралдары Бишкектин айланасында алгачкы адамдар биздин заманга чейин 5-4-миң жылдыктарда жашагандыгын далилдейт. Биздин заманга чейин 2 миң жылдыктын аягында азыркы шаардын аймагында коло доорунун уруулары жайланышкан. Алар малчылык, дыйканчылык, карапа өндүрүшү жана металлургиялык өнөрчүлүктөрдү аркалап келишкен.

			Темир доорунун башталышы менен Кыргызстандын аймагында сак (б.з.ч.7-3-к.) жана усун (б.з.ч. 3-к. - б.з.ч. 5-к.) уруу бирликтери түзүлгөн. Бишкек шаары өзүнүн пайдалуу географиялык абалы менен Улуу Жибек Жолуна милдеттүү. Байыркы убактан баштап кербендер Кытайдан эки каттам менен өтүшкөн. Иле Ала-Тоосунун ыңгайлуу жериндеги жолдун чыгыш бутагы (Кордай аркылуу) Чүй өрөөнүнө чыккан жана бул жактан Ысык-Көлдүн жанынан Борбордук Тянь-Шань аркылуу өткөн башка жол менен кезиккен. Дал ушул жолдордун кесилишинде байыртадан көпөстөр үчүн эс алуу жайы болгон кербен-сарай жайгашкан. Бул жер тилкеси эзелтеден кыргыздардын солто уруусуна таандык экендиги тарыхый белгиленген. Бул жерлердин жолдорунда адатта жандуу соода жүргүзүлгөн.

			Бирок, жердин бул баалуу жер тилкеси басып алуучулардын көңүлүн тарткан, аларды басып алууга азгырган. Сан жеткис ордолор эки жолдун кесилишине жакындаганда, жергиликтүү жашоочулар тоого качышкан деген аңгеме сакталган. Бирок, көчүп кетүүнүн алдында бир баатырдын аялы кымызды көптүрүү үчүн чалгычты (кыргызча – бишкек) жоготуп алып, аны издеп жатып кармалып калат. Ал кош бойлуу болгондуктан, абдан кыжырланганынан, төрөт мезгили келип, эркек бала төрөйт. Анын атын Бишкек деп коюшат. Ал абдан эр жүрөк жана күчтүү жигит болгон. Анын жашоосу эрдиктерге жана такыба иштерге толгон. Ал каза болгондо, аны Аламүдүн суусунун жээгиндеги дөбөгө көмүшкөн.

			Заманбап чыгыш автобекети менен Ысык-Көл кинотеатрынын ортосунда Бишкек – мүрзө үстүндөгү күмбөзүн туугандары жана достору тургузган. Бул күмбөздү XVII-XVIII кк. улуу саякатчылар көрүп, сүрөттөшкөн. Бул кер аяктуу тоо агымдарынын суу аралыгында байыркы убакта эле элдер отурукташкан. Бишкектин аймагында Улуу Жибек Жолу жашоо жана бакубатчылык берген үч шаардын калдыктары табылган.

			Бирок, XVI кылымда Батыш жана Чыгыш - эки цивилизациянын ортосунда соода жана маданий байланыш толугу менен үзүлгөндүгү тарыхта калган. Легендалуу “жибек жол” жашоосун токтоткон, шаарлар жок болгон. Согуштар, чума эпидемиясы, жер титирөөлөр гүлдөп жаткан Чүй өрөөнүн чөлгө айлантты. Шаар жашоосу башка көнүмүштөргө – бир жерде отурукташууну талап кылбаган көчмөндөрдүн жашоо көнүмүшүнө алмашылды. Укмуштуу сарайлар жана күчтүү чептер, көңүлдүү жана ызы-чуу соода жана өнөрчүлүк кербендер урап кеткен дөңгө айланган же такыр эле жер менен теңелген. Ала-Арча жана Аламүдүн сууларынын аралыгындагы Чүй өрөөнү жүз жылдарга кыргыздардын кырк уруусунун бири болгон солто уруусунун жайыты болуп калган.  Жети-Суулук кыргыз жана казак жайлоолору аркылуу Борбордук Азиядан Кытайга өткөн сейрек кездешүүчү соода кербендери бул таш жерлерди жандандырып турган.

			Аламүдүн жана Ала-Арча сууларынын аралыгы көптөгөн булактарда ыйык жер катары эсептелет. Дем берүүчү жана дарылоочу суу менен булактар эскерилет, башка кызыктуу фактылар да келтирилет. Ошол үчүн бул жерлер көптөгөн элдер үчүн өзгөчө баалуу жана кызыктыруучу болуп калган. Ушуга байланыштуу байыртадан бул жакта форпосттор, кербен-сарайлар, чептер пайда болгон. Кокон чеби пайда болгонго чейин бир белгилүү аталыш, кыштак же айыл – Жал деп аталган.

			Бирок убакыттын жазылган булактары менен сүрөттөлгөн Кокон хандыгы суу аралыгындагы аймакты басып алган жана Мадали хандын буйругу боюнча 1825-жылы бул жакта Пишпек чеби курулган.</h6>
		</div>
	</div>
	<!-- Footer -->
	<footer class="text-center text-lg-start bg-light text-muted">
	  <!-- Section: Social media -->
	  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
		<!-- Left -->
		<div class="me-5 d-none d-lg-block">
		  <span>Get connected with us on social networks:</span>
		</div>
		<!-- Left -->

		<!-- Right -->
		<div>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-facebook-f"></i>
		  </a>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-twitter"></i>
		  </a>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-google"></i>
		  </a>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-instagram"></i>
		  </a>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-linkedin"></i>
		  </a>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-github"></i>
		  </a>
		</div>
		<!-- Right -->
	  </section>
	  <!-- Section: Social media -->

	  <!-- Section: Links  -->
	  <section class="">
		<div class="container text-center text-md-start mt-5">
		  <!-- Grid row -->
		  <div class="row mt-3">
			<!-- Grid column -->
			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
			  <!-- Content -->
			  <h6 class="text-uppercase fw-bold mb-4">
				<i class="fas fa-gem me-3"></i>Company name
			  </h6>
			  <p>
				Here you can use rows and columns to organize your footer content. Lorem ipsum
				dolor sit amet, consectetur adipisicing elit.
			  </p>
			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
			  <!-- Links -->
			  <h6 class="text-uppercase fw-bold mb-4">
				Products
			  </h6>
			  <p>
				<a href="#!" class="text-reset">Angular</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">React</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">Vue</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">Laravel</a>
			  </p>
			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
			  <!-- Links -->
			  <h6 class="text-uppercase fw-bold mb-4">
				Useful links
			  </h6>
			  <p>
				<a href="#!" class="text-reset">Pricing</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">Settings</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">Orders</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">Help</a>
			  </p>
			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
			  <!-- Links -->
			  <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
			  <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
			  <p>
				<i class="fas fa-envelope me-3"></i>
				info@example.com
			  </p>
			  <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
			  <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
			</div>
			<!-- Grid column -->
		  </div>
		  <!-- Grid row -->
		</div>
	  </section>
	  <!-- Section: Links  -->

	  <!-- Copyright -->
	  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		© 2021 Copyright:
		<a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
	  </div>
	  <!-- Copyright -->
	</footer>
	<!-- Footer -->
</body>
</html>